<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Добавить категорию</h3>
        </div>
    </div>
    <div class="card-block">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div [ngClass]="{'has-error': name.invalid && name.touched}" class="form-group">
                <label class="control-label" for="category-name">Введите название</label>
                <input
                    #name="ngModel"
                    class="form-control"
                    id="category-name"
                    name="name"
                    ngModel
                    required
                    type="text"
                >
                <span *ngIf="name.invalid && name.touched"
                      class="form-help-text"
                >Название категории не может быть пустым</span>
            </div>
            <div [ngClass]="{'has-error': capacity.invalid && capacity.touched}" class="form-group">
                <label class="control-label" for="category-value">Введите лимит</label>
                <input
                    #capacity="ngModel"
                    [ngModel]="1"
                    class="form-control"
                    id="category-value"
                    min="1"
                    name="capacity"
                    required
                    type="number"
                >
                <span *ngIf="capacity.invalid && capacity.touched"
                      class="form-help-text">Поле не может быть пустым</span>
            </div>
            <button [disabled]="f.invalid" class="btn btn-primary" type="submit">Добавить</button>
        </form>
    </div>
</div>
