<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Редактировать категорию</h3>
        </div>
    </div>
    <div class="card-block">
        <div *ngIf="message.text" class="alert alert-{{message.type}}">{{message.text}}</div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label class="control-label" for="e-select-category">Выберите категорию</label>
                <select (change)="onCategoryChange()" [(ngModel)]="currentCategoryId"
                        [ngModelOptions]="{standalone: true}"
                        class="form-control"
                        id="e-select-category"
                >
                    <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div [ngClass]="{'has-error': name.invalid && name.touched}" class="form-group">
                <label class="control-label" for="e-category-name">Введите название</label>
                <input
                    #name="ngModel"
                    [ngModel]="currentCategory.name"
                    class="form-control"
                    id="e-category-name"
                    name="name"
                    required
                    type="text"
                >
                <span *ngIf="name.invalid && name.touched"
                      class="form-help-text"
                >Название категории не может быть пустым</span>
            </div>
            <div [ngClass]="{'has-error': capacity.invalid && capacity.touched}" class="form-group">
                <label class="control-label" for="e-category-value">Введите лимит</label>
                <input
                    #capacity="ngModel"
                    [ngModel]="currentCategory.capacity"
                    class="form-control"
                    id="e-category-value"
                    min="1"
                    name="capacity"
                    required
                    type="number"
                >
                <span *ngIf="capacity.invalid && capacity.touched"
                      class="form-help-text">Поле не может быть пустым</span>
            </div>
            <button [disabled]="f.invalid" class="btn btn-primary" type="submit">Редактировать</button>
        </form>
    </div>
</div>
